# H1: DataScience tools and the ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. tenserflow
3. matplotlib

|Data Science Tools|
|------------------|
|jupytar notebook|
|Rstudio|
|spyder|

### H3 Below are a few examples of evaluating arithmetic expressions in Python
1. add_result = a+b
2. sub_result = a-b
3. div_result = a*b

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
print(f"{hrs:.2f}")

3.33

**Objectives:**

- List popular languages for Data Science  
- Identify open-source tools used in Data Science  
- Evaluate arithmetic expressions in Python  
- Format floating-point numbers to two decimal places  
- Understand Markdown formatting in Jupyter Notebook

## Author  
Ramlah Munir